body{
  font-family: Noto Sans TC;
  line-height: 150%;
  letter-spacing: 0%; 
}
.wrapper{
  width: 1920px;
  margin: 0 auto;
}
a{ 
  color:#000000;
}
.hotIssuse,.content,.footer
{ 
  border:1px solid #000;
}


.header{
  font-weight: 700;
  font-size: 28px;
  line-height:1.5; 
 
}
.header>ul{
  display:flex; 
  justify-content: center;
  gap: 40px;
   padding: 24px 80px;
}
.banner{
  height:834px;
  display:flex;   
}
.banner>div{
  width: 50%;
}
.bannerL{
  background-image:url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-web-camp/desktop/index/Hero%20Section.png"); 
}

.bannerR{
    background-image:url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-web-camp/desktop/index/Hero%20Section2.png");  
  color: #0027D5;
  display:flex;  
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}
.bannerR>h1{ 
  font-weight: 900;
  font-size: 120px;
  line-height:150%;
}
.bannerR>h3{     
  font-weight: 700;
  font-size: 28px;
  line-height:150%;
}
.topic{
  display:flex;
  justify-content: space-between;
  gap: 24px;

}
.hotIssuse{
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 120px;
}
.btn{
  display: inline-block;
  border: 1px solid #000;
  border-radius:40px;
  
/* width: 88;
height: 36; */
gap: 8px;
padding-top: 6px;
padding-right: 12px;
padding-bottom: 6px;
padding-left: 12px;




}
h5{
  color: #0027D5;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}
h2{
  color: #000;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
}
p{
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}


.footer{
  display:flex;
  flex-direction: column;
  border-top: 5px solid #FBFBFB;
}
.rights{
  font-weight: 500;
  font-size: 16px; 
  text-align:center;
}